.idea*
*.iml
*.sqlite3
*.log

ui/node_modules
ui/jest*

*.pyc
*.DS_Store
.ipynb_checkpoints

deploy/secrets/gcloud*/*
deploy/secrets/gcloud*/*
deploy/*.tar.gz

pedigree_images/*
seqr_settings

django_key

data/*

hail-elasticsearch-pipelines
nginx/certs/*
!nginx/certs/.gitkeep
pipeline-logs
sql-dumps

.vscode/
pipeline_runner/